/* Adjust tabs bar to bottom*/
/*-----------------------------------------------------------------*/
/* toolbar order (start) ************************************/
/* bookmarks toolbar */
#print-preview-toolbar,
#printedit-toolbar,
#titlebar {
  -moz-box-ordinal-group: 1 !important;
}
#navigator-toolbox #toolbar-menubar {
  -moz-box-ordinal-group: 2 !important;
}
/* navigation toolbar */
#navigator-toolbox #nav-bar {
  -moz-box-ordinal-group: 3 !important;
}
/* bookmarks toolbar */
#navigator-toolbox #PersonalToolbar {
  -moz-box-ordinal-group: 0 !important;
}
/* 3rd party toolbars */
#navigator-toolbox toolbar {
  -moz-box-ordinal-group: 10 !important;
}
/* tabs toolbar */
#navigator-toolbox #TabsToolbar {
  -moz-box-ordinal-group: 100 !important;
}
/* toolbar order (end) **************************************/

/*Fix eye-burning white new tab flash*/
.browserContainer { background-color: #1f1f1f !important; }

